<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <body>
    <footer>
        <ul>
          <li><a href="https://www.facebook.com/aamirazhar">facebook</a></li>
          <li><a href="http://kupoko.tumblr.com/">tumblr</a></li>
          <li><a href="https://www.linkedin.com/in/aamir-azhar-a5060a3">linkedin</a></li>
          <li><a href="https://github.com/kupoko">github</a></li>
          <li><a href="mailto:aamirazhar@gmail.com">email</a></li>
      </ul>
    </footer>
  </body>
</html>
