<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    {% include head.html %}
    <div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:aamirazhar@gmail.com">email</a></li>
            <li><a href="https://github.com/kupoko">my github</a></li>
      </ul>
    </footer>
  </body>
</html>
